.emoCon{
    position: absolute;
    top: -100%;
    left: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px;
}
.emojiSpan24{
    width: 24px; 
    height: 24px; 
    line-height: 24px; 
    background-image: url('emojis-hd.png'); 
    background-size: auto 24px; 
    overflow: hidden; 
    vertical-align: middle; 
    display: inline-block; 
}
.emoji .icon{
    color: #4F4E53;
}