.cEditor{
    
}
.cEditor-content{
    width: 100%;
    overflow-y: auto;
}
.cEditor-content .cEditor-area{
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    resize:none
}
.cEditor-content .cEditor-areahide{
    display: none;
}
.cEditor-content .cEditor-area:empty::before {
    content: attr(placeholder);
    color: #999;
}
.cEditor-oprate{
    line-height: 40px;
    position: relative;
}
.cEditor-oprate .op-btn{
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    width: 20px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    color: #666;
}
.cEditor-oprate .op-btn.makphone.active{
    color:var(--smt-color);
}
.cEditor-oprate .op-btn.makphone.loading svg,
.cEditor-oprate .op-btn.makphone.stopLoading svg{
    animation: loadingrotate 1s linear infinite;
}
@keyframes loadingrotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.cEditor-oprate .op-con{
    display: none;
    position: absolute;
    border: 1px solid #dfdfdf;
    width: 100%;
    padding: 10px;
    left: 0;
    bottom: 100%;
    background-color: #fff;
    z-index: 1;
}
.cEditor-oprate .con-makphone{
    background: #000;
    color: #fff;
    width: auto;
    padding: 10px;
    line-height: 1;
    border-radius: 6px;
    font-size: 12px;
}
.cEditor-oprate .con-makphone::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 34px;
    border: 5px solid transparent;
    border-top-color: #000;
}
@media screen and (max-width:768px) {
    .cEditor-oprate .emoji{
        display: none;
    }
}